<html>
<head>
  <title>Transfer Students</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <form action="/students_transfer" method="POST">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Add</button>
</body>
</html>