blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

body {
  max-width: 960px;
  min-width: 450px;
}

main {
  width: 75%;
  padding-left: 2%;
  display: inline-block;
  vertical-align: right;
  position: absolute;
}

#external-links {
  list-style-type: none;
  width: 20%;
  display: inline-block;
  vertical-align: left;
  position: relative;
  margin: 10px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like,
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 80%;
  }
  #external-links {
    vertical-align: bottom;
    display: block;
    position: relative;
  }
  main {
    vertical-align: top;
    display: block;
    position: absolute;
  }
}